<main class="d-flex flex-column align-center justify-content-center">
  <div class="showcase">
    <h1>Transaction calculator</h1>
  </div>
  <div class="register fixed-bottom w-100">
    <%= link_to 'Log In', new_user_session_path, class: "log-in" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "sign-up" %>
  </div>
</main>