<div>
    <h1> <%= @deal.name %> </h1>
    <h5><%= @deal.amount %></h5>
  <%= link_to "Back to home", categories_path, class: 'btn btn-dark mb-2' %>

  <%= button_to "Destroy this deal", category_deal_path(params[:category_id], @deal.id), method: :delete, class: 'btn btn-danger' %>
</div>
